.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.form{
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.input{
  padding: 20px;
  background-color: transparent;
  border: 2px solid #bbb;
  border-radius: 5px;
  color: #bbb;
  font-size: 20px;
  font-weight: 700;

}
.button{
  padding:20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  width: 300px;
  color:#eee;
  font-weight: bold;
}